<div class="getting ">
    <div class="getting__grid container">
        <h3 class="getting__title">&#60;Here is what you get&#62;</Here>
        </h3>
        <ul class="getting__list">
            <li class="getting__item">
                <img class="getting__item__img" src="images/getting/icon1 3.png" alt="icon1 3.png">
                <h4 class="getting__item__title">Creatred to Make The Web Better</h4>
                <p class="getting__item__text">Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet
                    vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.</p>
            </li>
            <li class="getting__item">
                <img class="getting__item__img" src="images/getting//icon 2.png" alt="icon 2.png">
                <h4 class="getting__item__title">Incredibly Powerful Tool</h4>
                <p class="getting__item__text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut
                    volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. </p>
            </li>
            <li class="getting__item">
                <img class="getting__item__img" src="images/getting/icon 3.png" alt="icon 3.png">
                <h4 class="getting__item__title">Experimental Stuff</h4>
                <p class="getting__item__text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut
                    volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. </p>
            </li>
            <li class="getting__item">
                <img class="getting__item__img" src="images/getting/icon 4.png" alt="icon 4.png">
                <h4 class="getting__item__title">Creatred to Make The Web Better</h4>
                <p class="getting__item__text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut
                    volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. </p>
            </li>
        </ul>
        <div class="getting__picture">
            <img src="images/getting/editor 3.png" alt="editor.png" class="getting__picture--320">
            <img src="images/getting/editor 2.png" alt="editor.png" class="getting__picture--768">
        </div>
    </div>
    
</div>