<header class="header">
    <div class="container">
        <div class="header__bar">
            <a class="header__logo" href="#">
                <div class="header__logo-img"></div>
                <p class="header__logo-text">ForkIO </p>
            </a>
            <nav class="header__nav ">
                <ul class="header__nav-list header__nav-list--hide">
                    <li>
                        <a class="header__nav-item" href="#">Overview</a>
                    </li>
                    <li>
                        <a class="header__nav-item" href="#">About Fork</a>
                    </li>
                    <li>
                        <a class="header__nav-item" href="#">Buying Options</a>
                    </li>
                    <li>
                        <a class="header__nav-item" href="#">Support</a>
                    </li>
                </ul>
            </nav>
            <button class="header__btn-buy btn-hover">Buy Now</button>
            <a class="header__btn-burger header__btn-burger--active">
                <span class="header__btn-burger__lines"></span>
                <div class="overlay"></div>
            </a>
            <div class="overlay"></div>
        </div>
        <h1 class="header__main-title">Fork App</h1>
        <p class="header__main-subtitle">A real gamechanger in the world of web development</p>
        <p class="header__version">v. 2.8 For Mac and Windows</p>
    </div>
</header>