<div class="pricing ">
    <div class="cantainer">
        <h3 class="pricing__title">Fork Subscription Pricing</h3>
        <ul class="pricing__list">
            <li class="pricing__item">
                <h4 class="pricing__item__category">Students</h4>
                <h5 class="pricing__item__price">$<span class="pricing__item__price--numb">29</span> </h5>
                <p class="pricing__item__period">per month</p>
                <p class="pricing__item__license">Personal License</p>
                <button class="pricing__item__btn">purchase</button>
            </li>
            <li class="pricing__item">
                <h4 class="pricing__item__category">professional</h4>
                <h5 class="pricing__item__price">$<span class="pricing__item__price--numb">59</span></h5>
                <p class="pricing__item__period">per Month</p>
                <p class="pricing__item__license">Professional License<br>Email Support</p>
                <button class="pricing__item__btn">purchase</button>
            </li>
            <li class="pricing__item">
                <h4 class="pricing__item__category">agency</h4>
                <h5 class="pricing__item__price">$<span class="pricing__item__price--numb">99</span></h5>
                <p class="pricing__item__period">per month</p>
                <p class="pricing__item__license">1-12 Team Members<br>Phone Support</p>
                <button class="pricing__item__btn">purchase</button>
            </li>
            <li class="pricing__item">
                <h4 class="pricing__item__category">enterprise</h4>
                <h5 class="pricing__item__price">$<span class="pricing__item__price--numb">159</span></h5>
                <p class="pricing__item__period">per month</p>
                <p class="pricing__item__license">Unlimited Team Members<br>24/ 7 Phone Support</p>
                <button class="pricing__item__btn">purchase</button>
            </li>
        </ul>

    </div>
</div>