<div class="revolutionary container">

    <button class="revolutionary__btn btn-hover">Download For Free Now</button>
    <p class="revolutionary__btn--discription">Unlimited 30-Days Trial Period</p>
    <h3 class="revolutionary__title">Revolutionary editor</h3>
    <p class="revolutionary__text">Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate
        dignissim. Sed id metus id quam auctor molestie eget ut augue.</p>
    <ul class="revolutionary__buttons">
        <li class="revolutionary__buttons--watch">
            <a class="revolutionary__buttons__link" href="#">
                <svg class="revolutionary__buttons__img" fill="#000000" width="16px" height="16px" viewBox="0 0 16 16"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="m15.71 7.77c-1.22-3.19-4.3-5.29-7.71-5.26-3.44-.07-6.54 2.04-7.72 5.27-.04.15-.04.3 0 .44 1.19 3.22 4.29 5.33 7.72 5.27 3.42.03 6.49-2.07 7.72-5.26.04-.15.04-.31-.01-.46zm-7.71 4.24c-2.7.1-5.18-1.51-6.2-4.01 1.01-2.51 3.49-4.11 6.2-4.01 2.69-.06 5.15 1.53 6.19 4.01-1.05 2.48-3.5 4.07-6.19 4.01zm0-6.66c-.18 0-.36.02-.53.06.26.35.4.77.4 1.21-.05 1.25-1.1 2.21-2.35 2.16-.01 0-.03 0-.04 0h-.07c.42 1.41 1.9 2.21 3.31 1.79s2.21-1.9 1.79-3.31c-.33-1.13-1.35-1.9-2.51-1.91z" />
                </svg>
                Watch
                <span class="revolutionary__watch__counter" data-pjax-replace="true" data-turbo-replace="true" title="0"
                    data-view-component="true" class="Counter">0</span>
            </a>
        </li>
        <li class="revolutionary__buttons--star">
            <a class="revolutionary__buttons__link" href="#">
                <svg class="revolutionary__buttons__img" fill="#000000" version="1.1" id="Capa_1"
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16px"
                    height="16px" viewBox="0 0 36.09 36.09" xml:space="preserve">
                    <path
                        d="M36.042,13.909c-0.123-0.377-0.456-0.646-0.85-0.688l-11.549-1.172L18.96,1.43c-0.16-0.36-0.519-0.596-0.915-0.596s-0.755,0.234-0.915,0.598L12.446,12.05L0.899,13.221c-0.394,0.04-0.728,0.312-0.85,0.688c-0.123,0.377-0.011,0.791,0.285,1.055l8.652,7.738L6.533,34.045c-0.083,0.387,0.069,0.787,0.39,1.02c0.175,0.127,0.381,0.191,0.588,0.191c0.173,0,0.347-0.045,0.503-0.137l10.032-5.84l10.03,5.84c0.342,0.197,0.77,0.178,1.091-0.059c0.32-0.229,0.474-0.633,0.391-1.02l-2.453-11.344l8.653-7.737C36.052,14.699,36.165,14.285,36.042,13.909z M25.336,21.598c-0.268,0.24-0.387,0.605-0.311,0.957l2.097,9.695l-8.574-4.99c-0.311-0.182-0.695-0.182-1.006,0l-8.576,4.99l2.097-9.695c0.076-0.352-0.043-0.717-0.311-0.957l-7.396-6.613l9.87-1.002c0.358-0.035,0.668-0.264,0.814-0.592l4.004-9.077l4.003,9.077c0.146,0.328,0.456,0.557,0.814,0.592l9.87,1.002L25.336,21.598z" />
                </svg>
                Star
            <span class="revolutionary__star__counter" data-pjax-replace="true" data-turbo-replace="true" title="0"
                data-view-component="true" class="Counter">0</span>
            </a> 
        </li>
        <li class="revolutionary__buttons--fork">
            <a class="revolutionary__buttons__link" href="#">
                <svg class="revolutionary__buttons__img" fill="#000000" width="16px" height="16px" viewBox="-4 -2 24 24"
                    xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin" class="jam jam-fork">
                    <path
                        d='M8 18a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm1.033-3.817A3.001 3.001 0 1 1 7 14.17v-1.047c0-.074.003-.148.008-.221a1 1 0 0 0-.462-.637L3.46 10.42A3 3 0 0 1 2 7.845V5.829a3.001 3.001 0 1 1 2 0v2.016a1 1 0 0 0 .487.858l3.086 1.846a3 3 0 0 1 .443.324 3 3 0 0 1 .444-.324l3.086-1.846a1 1 0 0 0 .487-.858V5.841A3.001 3.001 0 0 1 13 0a3 3 0 0 1 1.033 5.817v2.028a3 3 0 0 1-1.46 2.575l-3.086 1.846a1 1 0 0 0-.462.637c.005.073.008.147.008.22v1.06zM3 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm10 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z' />
                </svg>
                Fork
            <span class="revolutionary__network__counter" data-pjax-replace="true" data-turbo-replace="true" title="0"
                data-view-component="true" class="Counter">0</span>
            </a> 
        </li>
</div>
</div>