.getting {
    background: #F4F4F4;
    padding-bottom: 6px;
    display: grid;
    grid-template-areas: 
    "title"
    "list"
    "picture";

    &__title {
        grid-area: title;
        margin-top: 32px;
        @include text-style-700;
        font-size: 32px;
        line-height: 38px;
        text-align: center;
        color: #8D81AC;
    }

    &__list {
        grid-area: list;
        margin-top: 36px;
        display: grid;
        row-gap: 40px;
        grid-template-areas:
            "post1"
            "post2"
            "post3"
            "post4";
    }

    &__item:nth-of-type(1) {
        grid-area: post1;
    }

    &__item:nth-of-type(2) {
        grid-area: post2;
    }

    &__item:nth-of-type(3) {
        grid-area: post3;
    }

    &__item:nth-of-type(4) {
        grid-area: post4;
    }

    &__item {
        display: grid;
        grid-template-areas:
            "img"
            "title"
            "text";

        &__img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            grid-area: img;
        }

        &__title {
            margin-top: 24px;
            @include text-style-400;
            font-size: 16px;
            line-height: 16px;
            text-align: center;
            color: #323232;
            grid-area: title;
        }

        &__text {
            grid-area: text;
            padding: 14px 12px 0;
            @include lato-style-400;
            font-size: 14px;
            line-height: 21px;
            text-align: center;
            color: #848E97;
        }
    }

    &__picture {
        display: flex;
        justify-content: right;
        grid-area: picture;

        &--320 {
            margin-top: 64px;
            width: 100%;
            max-width: 480px;
            // position: relative;
            // top: 0;
            padding-right: -10px;
        }

        &--768 {
            display: none;
            max-width: 700px;
            position: relative;
            top: 0;
            // right: -10px;
        }
    }
}

@media (min-width: 481px) {
    .getting {
        &__item {
            margin-left: 20px;
            display: grid;
            column-gap: 24px;
            align-items: center;
            grid-template-columns: 111px 1fr;
            grid-template-areas:
                "img title"
                "img text";

            &__img {
                margin-top: 0;
            }

            &__title {
                margin-top: 0;
                line-height: 21px;
                text-align: left;
            }

            &__text {
                padding: 0;
                text-align: left;
            }
        }

        &__picture {
            margin-top: 76px;

            &--320 {
                display: none;
            }

            &--768 {
                display: block;
                width: 100%;
                max-width: 700px;
            }
        }
    }
}

@media (min-width: 993px) {
    .getting {
        padding-bottom: 33px;
            &__grid {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-areas:
                    "list title"
                    "list picture";
                    column-gap: 30px;
            }
            &__picture--768 {
                width: 100%;
            }
    }
}