.header {
  background: url("../images/header/header_background.png") no-repeat center;
  background-size: cover;

  &__bar {
    display: flex;
    padding: 31px 0;
    justify-content: space-between;
    position: relative;

  }

  &__logo {
    display: flex;
    color: #ffffff;
  }

  &__logo:hover > &__logo-img {
    background-image: url("../images/header/logo-hover.png");
  }

  &__logo:hover > &__logo-text {
    color: #ffffff;
  }

  &__logo-img {
    background-image: url("../images/header/logo.png");
    width: 43px;
    height: 41px;
  }

  &__logo-text {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    color: #8D81AC;
    margin-left: 17px;
    align-self: center;
  }

  &__nav {
    align-self: center;
    margin-left: auto;
  }

  &__nav-list {
    display: flex;
  }

  &__nav-item {
    font-size: 16px;
    font-weight: bold;
    color: #8D81AC;
    margin-right: 47px;

    &:hover {
      color: #FFFFFF;
    }

  }

  &__btn-buy {
    height: 37px;
    width: 145px;
    color: #FFFFFF;
    background-color: #8D81AC;
    border-radius: 40px;
    border: 2px #8D81AC solid;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
  }

  &__btn-burger {
    display: none;
  }

  &__main-title {
    font-size: 82px;
    color: #FFFFFF;
    margin-top: 83px;
    font-weight: bold;
  }

  &__main-subtitle {
    margin: 19px 0;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    color: #8D81AC;
  }

  &__version {
    font-size: 16px;
    color: #848E97;
    padding-bottom: 459px;
  }
}

.btn-hover:hover {
  color: #8D81AC;
  background-color: #FFFFFF;
}


@media screen and (max-width: 993px) {
  .header {
    &::before {
      content: '';
      width: 100%;
      height: 118px;
      position: absolute;
      background-color: #27262A;
    }

    &__nav {
      position: absolute;
      top: 84px;
      width: 100%;


    }

    &__nav-list {
      justify-content: space-evenly;
    }

    &__nav-item {
      margin: 0;
    }

    &__main-title {
      font-size: 72px;
    }

    &__main-subtitle {
      font-size: 24px;
    }

    &__version {
      font-size: 14px;
      padding-bottom: 439px;
    }
  }


}


@media screen and (max-width: 481px) {
  .header {
    &::before {
      height: 84px;
    }

    &__logo-text {
      display: none;
    }

    &__btn-burger {
      display: block;
      width: 30px;
      height: 35px;
      position: relative;
      cursor: pointer;

    }

    &__btn-burger__lines,
    &__btn-burger__lines:after,
    &__btn-burger__lines:before {
      position: absolute;
      width: 26px;
      height: 3px;
      background-color: white;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      border-radius: 50px;

    }

    &__btn-burger__lines:before {
      content: '';
      width: 15px;
      top: -9px;
      left: 18px;
    }

    &__btn-burger__lines:after {
      content: '';
      top: 12px;
    }

    &__btn-burger--active &__btn-burger__lines {
      background-color: transparent;
    }


    &__btn-burger--active &__btn-burger__lines::before {
      width: 26px;
      top: 0;
      transform: rotate(45deg);
      left: 10%;
    }

    &__btn-burger--active &__btn-burger__lines::after {
      top: 0;
      transform: rotate(-45deg);
      left: 10%;
    }


    &__nav-list {
      display: flex;
      flex-direction: column;
      background-color: #333333;
      text-align: start;
      position: absolute;
      right: 0;
      width: 300px;
      z-index: 10;

      &--hide {
        display: none;
      }

      & > li {
        border-bottom: 1px solid #3B3B3B;
        padding: 25px 0 25px 35px;
        position: relative;
        overflow: hidden;
      }
    }

    &__nav-item {
      font-size: 23px;
      color: #FFFFFF;
      font-weight: normal;

      &:focus {
        color: #8D81AC;
      }

      &::before {
        content: '';
        position: absolute;
        height: 53px;
        width: 8px;
        background-color: #8D81AC;
        left: -8px;
        top: 10px;

      }

      &:focus:before {
        left: 0;
      }

    }

    &__main-title {
      font-size: 48px;
    }

    &__main-subtitle {
      font-size: 18px;
    }

    &__version {
      font-size: 14px;
      padding-bottom: 392px;
    }
  }

}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
}

.header__btn-burger--active .overlay {
  display: block;

}