@mixin text-style-700 {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
}


@mixin text-style-400 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
}

@mixin lato-style-400{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
}
