.people-talking {
  background: url("../images/people-talking/people-talking_background.png") no-repeat scroll center;
  background-size: cover;
  padding: 108px 0 40px;

  &__title {
    font-weight: bold;
    font-size: 48px;
    color: #ffffff;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 29%);
    row-gap: 90px;
    justify-content: space-between;
    padding: 80px 0;
  }

  &__item {
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: baseline;
  }

  &__img {
    max-width: 100%;
    margin-bottom: 33px;
  }

  &__text {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 16px;
    color: #ffffff;
    line-height: 1.5;
  }

  &__description {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #A291A5;
    padding: 0 10%;
    line-height: 1.5;
    text-align: center;

    &::after {
      content: "";
      display: block;
      width: 80%;
      height: 3px;
      background-color: #645766;
      margin: 20px auto 0;
    }
  }
}

@media screen and (max-width: 993px) {
  .people-talking {
    padding: 85px 0 20px;
    &__title {
      font-size: 42px;
    }
    &__list {
      grid-template-columns: repeat(2, 45%);
      row-gap: 58px;
      padding: 63px 0;
    }
  }
}

@media screen and (max-width: 481px) {
  .people-talking {
    padding: 57px 0 20px;

    &__title {
      font-size: 36px;
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      row-gap: 45px;
      padding: 53px 0;
    }
  }
}