.pricing {
    // padding: 0 10px;
    background:url('../images/pricing/pricing-backgraund.png') no-repeat  center;
    background-size: cover;

    &__title {
        padding-top: 68px;
        margin-bottom: 32px;
        @include text-style-700;
        font-size: 28px;
        line-height: 42px;
        text-align: center;
        color: #FFFFFF;
    }

    &__list {
        padding-bottom: 32px;
        display: grid;
        grid-template-areas:
            "price1"
            "price2"
            "price3"
            "price4";
        justify-content: center;
        align-content: center;
        row-gap: 18px;
    }

    &__item {
        margin: 0 auto;
        width: 257px;
        height: 457px;
        background-color: rgba(255, 255, 255, 0.11);
        position: relative;

        &:nth-of-type(1) {
            grid-area: price1;
        }

        &:nth-of-type(2) {
            grid-area: price2;
        }

        &:nth-of-type(3) {
            grid-area: price3;
            width: 299px;
            height: 560px;
            background: #463048;
            mix-blend-mode: normal;
            opacity: 0.84;
        }

        &:nth-of-type(4) {
            grid-area: price4;
        }

        &__category {
            background: rgba(255, 255, 255, 0.06);
            padding: 36px 30px;
            @include text-style-400;
            font-size: 24px;
            line-height: 24px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
        }

        &:nth-of-type(3)>&__category {
            background-color: rgba($color: #000000, $alpha: 0.11);
        }

        &__price {
            margin-top: 30px;
            @include text-style-400;
            font-size: 60px;
            line-height: 62px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;

            &--numb {
                @include text-style-700;
            }
        }

        &__period {
            margin-top: 20px;
            @include text-style-400;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;

            &::after {
                content: "";
                display: block;
                position: relative;
                top: 38px;
                left: 50%;
                transform: translateX(-50%);
                width: 60px;
                height: 5px;
                background: #8D81AC;
            }
        }

        &__license {
            margin-top: 68px;
            @include text-style-400;
            font-size: 16px;
            line-height: 28px;
            text-align: center;
            color: #FFFFFF;
        }

        &__btn {
            padding: 15px 38px;
            border-radius: 40px;
            border: none;
            font-size: 15px;
            @include text-style-400;
            line-height: 15px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            background: rgba(255, 255, 255, 0.15);
            position: absolute;
            bottom: 37px;
            left: 50%;
            transform: translateX(-50%);
        }

        &:nth-of-type(3)>&__btn {
            bottom: 47px;
        }
    }
}

@media (min-width:650px) {
    .pricing {
        &__title{
            font-size: 42px;
            line-height: 44px;
        }
        &__list {
            padding-bottom: 94px;
            display: grid;
            grid-template-areas:
                "price1 price2"
                "price3 price4";
            justify-content: center;
            align-items: center;
            row-gap: 30px;
            column-gap: 25px;
        }

        &__item {
            margin-right: 0;
        }
    }
}

@media (min-width: 1150px) {
    .pricing {
        &__title{
            font-size: 48px;
            line-height: 50px;
        }
        &__list {
            padding-bottom: 97px;
            grid-template-areas:
                "price1 price2 price3 price4";
            column-gap: 15px;
        }
    }
}