.revolutionary {

    &__btn {
        position: relative;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 13px 29px;
        background: #8D81AC;
        border-radius: 40px;
        border: 2px #8D81AC solid;
        cursor: pointer;

        @include text-style-700;
        font-size: 18px;
        line-height: 20px;
        display: flex;
        align-items: center;
        text-align: center;

        color: #FFFFFF;

        &--discription {
            margin-top: -12px;
            @include text-style-400;
            font-size: 14px;
            text-align: center;
            color: #848E97;
        }
    }


    &__title {
        margin-top: 80px;
        @include text-style-700;
        font-size: 26px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase;
        color: #635C73;
    }

    &__text {
        margin-top: 27px;
        @include lato-style-400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #323232;
    }

    &__buttons {
        margin-top: 36px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 88px;

        &__link {
            margin: 0 10px 20px;
            padding: 3px 12px;
            font-size: 12px;
            line-height: 20px;
            display: flex;
            white-space: nowrap;
            align-items: center;
            cursor: pointer;
            user-select: none;
            border: 1px solid #848E97;
            border-radius: 6px;
            text-decoration: none;
        }

        &__img {
            margin-right: 8px;
        }
    }

    &__network__counter,
    &__watch__counter,
    &__star__counter {
        margin-left: 2px;
        padding: 0 6px;
        border-radius: 2em;
        background-color: #b7b2c4;
    }

}

@media (min-width: 481px) {
    .revolutionary {
        &__text {
            max-width: 689px;
            margin: 37px auto 0;
            font-size: 21px;
            line-height: 32px;
            text-align: center;
        }

        &__buttons {
            margin-top: 24px;
        }
    }

}

@media (min-width: 993px) {
    .revolutionary {
        &__text {
            max-width: 861px;
        }

        &__buttons {
            margin-top: 13px;
            padding-bottom: 70px;
        }
    }
}