@import "reset";
@import "mixins";

body {
  font-family: 'Montserrat', 'Lato', sans-serif;
  max-height: 100%;
}

.wrapper {
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 1200px;
  min-width: 320px;
  padding: 0 10px;
  margin: 0 auto;
  text-align: center;
}

@import "header";
@import "revolutionary.scss";
@import "getting.scss";
@import "people-talking";
@import "pricing.scss";